{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>Grenoble Time</title>
{% endblock %}

{% block body %}
    <h1 class="hidden-xs">Lignes</h1>

    <div class="row box_ligne hidden-xs">
    {% for ligne in lignes %}
        <div class="col-sm-2 ligne">
            <a href="{{ path('tram_ligne', {'code': ligne.code}) }}" {% if ligne.hasAccident %}style="color:red"{% endif %}>
                <div class="box_top">
                    <span class="helper"></span>
                    <img src="{{ ligne.logourl }}" style="text-decoration:none;"/>
                </div>

                <div class="box_bottom">
                     <p>{{ligne.name}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>

    <div class="hidden-sm hidden-md hidden-lg">
        <ul class="list-group">
        {% for ligne in lignes %}
            <li class="list-group-item">
                <img src="{{ ligne.logourl }}" />
                <a href="{{ path('tram_ligne', {'code': ligne.code}) }}"> {{ligne.name}} </a>
                {% for accident in ligne.accidents %}
                    <a id="A{{ accident.id }}" rel="popover" class="pop pull-right" data-toggle="popover">
                        <img src="/images/alert.png" />
                    </a>
                {% endfor %}



            </li>
        {% endfor %}
        </ul>
    </div>

    <script>
    {% for ligne in lignes %}

        {% for accident in ligne.accidents %}
            $('#A{{ accident.id }}').popover({title : '{{ accident.name }}',content:'<b>{{ accident.date }}</b> <br/> {{ accident.description }}',placement:'left',html:'true'});
        {% endfor %}

    {% endfor %}


    $('.pop').on('click', function (e) {
        $('.pop').not(this).popover('hide');
    });

    $('.ligne').click(function() {
        $(this).attr("style","box-shadow: none;");
    });

    </script>

{% endblock %}
