{% extends "TramBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li>{{ ligne.name }}</li>
{% endblock %}

{% block body %}
    <h1><img src="{{ ligne.logourl }}" />{{ ligne.name }}</h1>

    {% if ligne.stops.count > 0 %}
    <ul class="list-group">
        {% for stop in ligne.stops %}
            <li class="list-group-item">{{ stop.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
