{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>{{ ligne.name }}</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li>{{ ligne.name }}</li>
{% endblock %}

{% block body %}
    <h1><img src="{{ ligne.logourl }}" />{{ ligne.name }}</h1>

    {% if ligne.stops.count > 0 %}
    <ul class="list-group">
        {% for stop in ligne.stops %}
            <li class="list-group-item"><a href="{{ path('tram_stop', {'code': stop.code}) }}">{{ stop.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for schedule in ligne.schedules %}
        <li class="list-group-item">{{ schedule.date|date("m/d/Y H:i:s") }}</li>
    {% endfor %}


{% endblock %}
