{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>{{ ligne.name }}</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li>{{ ligne.name }}</li>
{% endblock %}

{% block body %}
    <h1><img src="{{ ligne.logourl }}" />{{ ligne.name }}</h1>

    <div class="row">

    <div class="col-sm-8">
        <form method="POST" action="">
    	<div class="form-group">
                <input type="text" name="recherche" id="champ_recherche" class="form-control" placeholder="Entrez un arrêt..."/>
    	</div>
        </form>

    <div id="resultat">

    {% if ligne.stops.count > 0 %}
    <ul class="list-group">
        {% for stop in ligne.stops %}
            <li class="list-group-item">
                <a href="{{ path('tram_stop', {'code_ligne': ligne.code, 'code_stop': stop.code}) }}">{{ stop.name }}</a>
                    {% if stop.presence %}
                        <a href="#" rel="popover" id="{{stop.code}}"class="pull-right pop">
                            <img src="/images/red-dot.png" />
                        </a>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>
    </div>

    <div class="col-sm-4 hidden-xs">
        <h3 style="margin-top:0px;">Liste des accidents sur la ligne</h3>
        <ul>
        {% for accident in ligne.accidents %}
            <li><h4>{{ accident.name }}</h4>
            <b>{{ accident.date }}</b>
            <p>{{ accident.description }}</p></li>
        {% endfor %}
        <ul>

    </div>


    </div>

    <script>
    {% for stop in ligne.stops %}
        $('#{{ stop.code }}').popover({title : 'Contrôleurs signalés',content:'Des contrôleurs ont été signalé à cet arrêt il y a moins de 15 minutes.',placement:'left',html:'true'});
    {% endfor %}

    $('.pop').on('click', function (e) {
        $('.pop').not(this).popover('hide');
    });
    </script>

{% endblock %}
