{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>{{ ligne.name }}</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li>{{ ligne.name }}</li>
{% endblock %}

{% block body %}
    <h1><img src="{{ ligne.logourl }}" />{{ ligne.name }}</h1>

    {% if ligne.stops.count > 0 %}
    <ul class="list-group">
        {% for stop in ligne.stops %}
            <li class="list-group-item">
                <a href="{{ path('tram_stop', {'code_ligne': ligne.code, 'code_stop': stop.code}) }}">{{ stop.name }}</a>
                <a href="#" id="" rel="popover" class="pull-right pop">
                    {% if stop.agent %}
                        <img src="/bundles/tram/images/red-dot.png" />
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
