{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>{{ stop.name }}</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li><a href="{{ path('tram_ligne', {'code': ligne_stop.code })}}">{{ ligne_stop.name }}</a></li>
    <li>{{ stop.name }}</li>
{% endblock %}

{% block body %}
    <h1>{{ stop.name }}</h1>

    {% if stop.presence %}
    <div class="alert alert-danger" role="alert" id="agentHere">
        <p><b>Des contrôleurs semblent être présent à cet arrêt</b></p>
        <p class="text-right"><button class="btn btn-danger" onclick="addAgent()">Confirmer</button></p>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert" id="agentHere">
        <p><b>Signaler des contrôleurs</b></p>
        <p class="text-right"><button class="btn btn-warning" onclick="addAgent()">Signaler</button></p>
    </div>
    {% endif %}

    <div class="panel-group" id="accordion">
    {% for ligne in stop.lignes %}
        <h3><img src="{{ ligne.logourl }}" />{{ ligne.name }}</h3>

        {% for destination in ligne.destinations %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{destination.hash}}">
                    {{ destination.name }}
                    </a>
                </h4>
            </div>

            <div id="collapse{{destination.hash}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                {% for schedule in ligne.getHoraires(stop, destination) %}
                    <div class="list-group-item">
                        {{ schedule.date|date("H:i") }}
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>


    <script>
        function addAgent() {
            console.debug("Ajout d'un agent à un arrêt");
            var req = new XMLHttpRequest();
            req.open("GET", 'http://localhost:8000/Agent/add/{{ stop.id }}', false);
            req.send();

            console.debug("Agent ajouté");
            $("div#agentHere").replaceWith("<div class=\"alert alert-success\" role=\"alert\"> \
                                            <p>Merci pour le signalement</p></div>");
            console.debug("On remplace le message");
        }
    </script>
{% endblock %}
