<!DOCTYPE html>
<html>
<head>
    {% stylesheets '@TramBundle/Resources/public/css/bootstrap.min.css'  %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}

    {% stylesheets '@TramBundle/Resources/public/css/bootstrap-theme.min.css' %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}

    {% stylesheets '@TramBundle/Resources/public/css/style.css'  %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}

    {% javascripts '@TramBundle/Resources/public/js/jquery.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@TramBundle/Resources/public/js/bootstrap.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@TramBundle/Resources/public/js/stop_search.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block head %}
    {% endblock %}

    {% block title %}
        <title>Index</title>
    {% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>

<body>
    <div class="container">

        <ol class="breadcrumb">
            {% block breadcrumb %}
            <li>Home</li>

            <a href="Position"><span class="glyphicon glyphicon-map-marker pull-right"></span></a>

            {% endblock %}
    	</ol>


        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
    <p>
        <a href="#">Trams Grenoblois</a>
        <a href="https://twitter.com/nicolas_vignes">@Twitter</a>
        <a href="http://blog.nicolasvignes.fr">Blog</a>
        <a href="https://github.com/ColasV/tram">GitHub</a>
    </p>
    </div>

</body>
</html>
